<div class="o-viewHelper--body">
<div class="o-viewHelper--header">
    <a ui-sref="index">close X</a>
</div>
<div class="o-viewHelper--section">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam velit culpa, facere neque ratione optio cumque molestias fugit rem consequatur ut modi nostrum porro laborum quaerat dolores ullam quo odit.
</div>
<div class="o-viewHelper--footer"></div>
</div>