
<link rel="stylesheet" href="views/tiempo/tiempo_files/wordFind.css">
<div class="o-viewHelper--body">
    <div class="o-viewHelper--header">

        <a ui-sref="index">X</a>
    </div>
    <div class="o-viewHelper--section">
            <div id="game_wordSearch" class="wsearchcss"></div>
    </div>
    <div class="o-viewHelper--footer">
        
        <script src="views/tiempo/tiempo_files/game_wordSearch.js"></script>
        <script>
            $(document).ready(function(){
                fn_gameWordSearch(
                    'game_wordSearch',
                    ['Look-after', 'Look-at', 'Think-about', 'Talk-about' , 'Wait-for' , 'Complain-about']
                    , 5
                );
            })
        </script>
    </div>
</div>