<footer>
    <div class="container_footer02_2015 ">
        <div class="content-footer02">
            <div class="disclaimer-ft">
                <p>COPYRIGHT © 2017 EL TIEMPO Casa Editorial.
                    <br>Prohibida su reproducción total o parcial, así como su traducción a cualquier idioma sin autorización escrita de su titular.
                    <br>ELTIEMPO.com todas las noticias principales de Colombia y el Mundo</p>
            </div>
            <div class="siguenos-ft"><span>Síguenos:</span>
                <ul>
                    <li><a href="https://www.facebook.com/eltiempo" target="_blank"></a></li>
                    <li><a href="https://twitter.com/eltiempo" target="_blank"></a></li>
                    <li><a href="https://plus.google.com/+ElTiempo/posts" target="_blank"></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>