<div class=" multimedia-960 light-template home-especial-default multimedia-especialc especial-modular-resistencia">
    <div class="container-top-section-2015 especiales" style="display: block;">            
        <header class="header-et">
            <div class="marco-header">
                <div class="logo-header">
                    <a class="ico-entypo ico-et">logo</a>
                </div><!-- End nav-menu-et -->

                <div class="redes-hdr"><!-- solo aplica para sticky en articulo-->
                    <ul>
                        <li><a class="" href="javascript:void(0)"></a></li>
                        <li><a class="" href="javascript:void(0)"></a></li>
                        <li><a class="" href="javascript:void(0)"></a></li>
                        <li><a class="" id="btn_mailHeaderM" href="javascript:void(0)"></a></li>
                    </ul>
                    <div id="enviarMailHeaderM" class="mail-header-form" style="display: none"></div>
                </div>

                <div class="fecha-actual">
                    <span>Viernes 3 de marzo de 2017</span>
                </div>
            </div>
        </div>
        <!-- End pauta -->
        </header>
        <!-- End header -->
    </div>
    