<div id="contenidoArt">
        <!--  tipo c - modular -->
        <div class="cont-especial-modular">
            <section id="" class="mod-nivel-aper-txt-video-1 mod-especiales" itemscope="" itemtype="https://schema.org/NewsArticle">
                <div class="tit_grafico"></div>
                <header class="nivel-header">
                    <h1 class="ttl-1" itemprop="name">Apertura</h1>
                </header>
                <section class="container content" itemprop="description">
                    <div id="apert-solo-texto">
                        <p class="par-art" itemprop="articleBody">Colombianos que tejen la memoria, anhelan la reconciliación, practican la inclusión y son ejemplos de resiliencia. Eso, todo junto, se llama resistencia.</p>
                    </div>
                </section>
            </section>
            <section id="" class="mod-nivel-recur-mult mod-especiales" itemscope="" itemtype="https://schema.org/NewsArticle">
                <header class="nivel-header">
                    <h2 class="ttl-1" itemprop="name">LA TRAVESÍA DE UN LIBRO INACABABLE</h2>
                    <p class="lead-1" itemprop="description">Camilo Rendón recorre el país recogiendo en un libro las opiniones de los colombianos sobre la paz.</p>
                </header>
                <section class="content">
                    <div class="content-article">
                        <p class="par-art" itemprop="articleBody"> &nbsp;Un país en el que la gente solo muera de amor.</p>
                        <p class="par-art" itemprop="articleBody"> Ese deseo, tan irreal, tan lejano de una Colombia que se acostumbró a recoger muertos de los ríos, bien puede parecer una ingenuidad. Pero hay una obra, bautizada El libro de la paz escrito por nosotros, en la cual todos los pensamientos encuentran su espacio.</p>
                        <p class="par-art" itemprop="articleBody"> Resulta casi imposible que toda Colombia quepa en apenas 23 × 29 centímetros. Pero eso es justamente lo que intenta Camilo Rendón con este libro sobre en el cual puede escribir quien lo desee, sin importar sexo, estrato ni filiación política, para que todos podamos plasmar nuestros pensamientos en torno a lo que los une: la paz. </p>
                        <table style="width: 100%; /* height: 346px; */ margin-top: 10px; margin-bottom: 10px;">
                            <tbody>
                                <tr>
                                    <td><img style="height: auto; width: 100%;" src="views/tiempo/tiempo_files/IMAGEN-16767349-2.jpg" alt="" width="600" height="300">
                                        <p class="texto_piefoto">El analista político León Valencia plasma sus pensamientos en el libro de la paz.</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <p class="par-art" itemprop="articleBody"> <a class="linkdenota js-openViewHelper" ui-sref="index.activity({modulo: 'modulo_1', act: 'act_1'})">Activity</a></p>
                    </div>
                </section>
            </section>
            <section id="" class="mod-nivel-recur-mult mod-especiales" itemscope="" itemtype="https://schema.org/NewsArticle">
                <header class="nivel-header">
                    <h2 class="ttl-1" itemprop="name">RECETAS PARA OLVIDAR LA GUERRA</h2>
                    <p class="lead-1" itemprop="description">Víctimas del conflicto que, como ejercicio simbólico, crean menús a partir de sus emociones.</p>
                </header>
                <section class="content">
                    <div class="content-article">
                        <p class="par-art" itemprop="articleBody"> &nbsp;“Mi receta para estar contenta es estar unida con mi familia y amigos, estar alejada de los chismes y encontrarme con mis amigos Flor Alba y Rodolfo”. Ese es uno de los recetarios de emociones que compone un libro que escribe la comunidad del barrio Santa Helena, situado en Chaparral, Tolima.<br><br><strong>En ese sector residen solo colombianos víctimas del conflicto armado y que en algún momento de su vida tuvieron que desplazarse.</strong><br><br>Estas recetas emocionales forman parte de un ejercicio de recuperación de sabores gastronómicos de algunas regiones nacionales. La escritura del texto se adelanta gracias a cuatro voluntarios del Ministerio de Cultura, quienes les piden a los habitantes que dejen registro de las comidas que más recuerdan y los sentimientos que evocan.</p>
                        <table style="width: 100%; /* height: 346px; */ margin-top: 10px; margin-bottom: 10px;">
                            <tbody>
                                <tr>
                                    <td><img style="height: auto; width: 100%;" src="views/tiempo/tiempo_files/IMAGEN-16767487-2.jpg" alt="" width="650" height="300">
                                        <p class="texto_piefoto">Estas recetas emocionales forman parte de un ejercicio de recuperación de sabores gastronómicos de algunas regiones nacionales, en donde los habitantes dejan registro de las comidas que más recuerdan y los sentimientos que evocan. Foto: Carlos Reyes.</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <p class="par-art" itemprop="articleBody"> <a class="linkdenota linkdenota" href="https://www.eltiempo.com/multimedia/especiales/en-tolima-crean-recetas-de-emociones-para-olvidar-la-guerra/16767363" target="_blank">Leer más</a></p>
                    </div>
                </section>
            </section>
            <section id="" class="mod-nivel-recur-mult mod-especiales" itemscope="" itemtype="https://schema.org/NewsArticle">
                <header class="nivel-header">
                    <h2 class="ttl-1" itemprop="name">FOTOS PARA LA MEMORIA</h2>
                    <p class="lead-1" itemprop="description">Hace 13 años creó la Galería de la memoria, una iniciativa para mostrar otra cara del conflicto.</p>
                </header>
                <section class="content">
                    <div class="content-article">
                        <p class="par-art" itemprop="articleBody"> &nbsp;Se llama Carlos Castaño y en un momento de su vida se alzó en armas. ‘Pero no, no tengo nada que ver con el antiguo líder paramilitar’, dice. Por su homónimo, prefiere que le digan el ‘Bueno’, y por su pasado, aprendió que la inconformidad social puede ser denunciada más allá de los fusiles.</p>
                        <p class="par-art" itemprop="articleBody"> Su historia agrupa todos los ingredientes de quien ha vivido el conflicto en carne propia: <strong>es a la vez desplazado, desmovilizado, antiguo secuestrado y hoy, lejos de alcanzar estabilidad, recibe constantes amenazas</strong> por parte de bandas delincuenciales de la capital. </p>
                        <table style="width: 100%; /* height: 346px; */ margin-top: 10px; margin-bottom: 10px;">
                            <tbody>
                                <tr>
                                    <td><img style="height: auto; width: 100%;" src="views/tiempo/tiempo_files/IMAGEN-16767347-2.jpg" alt="" width="600" height="300">
                                        <p class="texto_piefoto">Un habitante de la calle mira algunas imágenes de la 'Galería de la memoria' en la Carrrera Séptima, en Bogotá. Foto: María Camila González.</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <p class="par-art" itemprop="articleBody"> <a class="linkdenota" target="_blank" href="https://www.eltiempo.com/multimedia/especiales/carlos-castano-el-fotografo-del-conflicto-en-colombia/16767361">Leer más </a></p>
                    </div>
                </section>
            </section>
            <section id="" class="mod-nivel-recur-mult mod-especiales" itemscope="" itemtype="https://schema.org/NewsArticle">
                <header class="nivel-header">
                    <h2 class="ttl-1" itemprop="name">CUENTOS INFANTILES PARA CERRAR LAS HERIDAS</h2>
                    <p class="lead-1" itemprop="description">Muy pocas veces se había visto la angustia apoderarse así de un semblante humano.</p>
                </header>
                <section class="content">
                    <div class="content-article">
                        <p class="par-art" itemprop="articleBody"> Gladys Bermúdez corrió hacia el monte junto a sus compañeros de la escuela, aterrorizada por un hecho que inquietó al pueblo: una caja de metal estaba hablando.<br><br>“Ver esa cosa hablando era algo que nunca habíamos presenciado. La profesora tuvo que ir a buscarnos en medio de los matorrales y nos explicó que se trataba de la llegada de la primera radio a nuestra vereda, en zona rural de Valledupar, por los años 40”, cuenta Gladys.<br><br>El relato de cómo llegó la radio a la vereda de Gladys, en los años 40, se entrelaza con las narraciones de la violencia bipartidista que por la misma época vivió Eudoxia Lemus. Las dos vivencias hacen parte de uno de los capítulos de los radioteatros del proyecto ‘¡Venga le cuento!, memorias colectivas de violencia y paz’, liderado por la Corporación Memoria y Saber Popular. </p>
                        <table style="width: 100%; /* height: 346px; */ margin-top: 10px; margin-bottom: 10px;">
                            <tbody>
                                <tr>
                                    <td><img style="height: auto; width: 100%;" src="views/tiempo/tiempo_files/IMAGEN-16767356-2.jpg" alt="" width="600" height="300">
                                        <p class="texto_piefoto">Cada miércoles, el radioteatro reúne a 20 adultos mayores entre los 60 y los 90 años. Foto: Diego Pérez.</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <p class="par-art" itemprop="articleBody"> <a class="linkdenota" target="_blank" href="https://www.eltiempo.com/multimedia/especiales/radioteatros-de-historias-de-paz/16767380">Leer más</a></p>
                    </div>
                </section>
            </section>
        </div> <a href="javascript:void(0)" class="scrollup" style="display: none;">Scroll</a>
    </div>
<aside class="o-viewHelper" ui-view="activity" ui-sref-active="is-active"></aside>