@charset "UTF-8";


/* line 1, ../../../../scss/especiales/especial-modular-resistencia.scss */
 body{
  background: #fff; }
  /* line 3, ../../../../scss/especiales/especial-modular-resistencia.scss */
   .cont-especial-modular {
    width: 100%;
    /*Clase que afecta todos los módulos*/
    /*Nivel de apertura texto y video*/
    /*Nivel de texto*/
    /*Nivel de video*/
    /*Nivel de infografía*/
    /*Nivel de galería*/
    /*Nivel de multiarticulo*/
    /*Nivel de audio*/ }
    /* line 6, ../../../../scss/especiales/especial-modular-resistencia.scss */
     .cont-especial-modular .mod-especiales {
      margin: 0 auto 60px;
      padding: 0; }
      /* line 9, ../../../../scss/especiales/especial-modular-resistencia.scss */
       .cont-especial-modular .mod-especiales .nivel-header {
        margin: 0 auto 30px;
        width: 960px; }
      /* line 19, ../../../../scss/especiales/especial-modular-resistencia.scss */
       .cont-especial-modular .mod-especiales section {
        margin: 0 auto;
        width: 960px; }
    /* line 25, ../../../../scss/especiales/especial-modular-resistencia.scss */
     .cont-especial-modular .mod-nivel-aper-txt-video-1 {
      background: url(media/images/especiales/bgr-resistencia.jpg) no-repeat center top;
      display: block;
      height: 580px;
      padding: 350px 0 0;
      width: 100%; }
      /* line 31, ../../../../scss/especiales/especial-modular-resistencia.scss */
       .cont-especial-modular .mod-nivel-aper-txt-video-1 .nivel-header {
        height: 0;
        margin: 0 auto;
        text-indent: -9999px; }
        /* line 35, ../../../../scss/especiales/especial-modular-resistencia.scss */
         .cont-especial-modular .mod-nivel-aper-txt-video-1 .nivel-header .ttl-1 {
          height: 0;
          margin: 0 auto;
          text-indent: -9999px; }
      /* line 42, ../../../../scss/especiales/especial-modular-resistencia.scss */
       .cont-especial-modular .mod-nivel-aper-txt-video-1 .content p.par-art {
        color: #fff;
        font-family: "cabinbold";
        font-size: 24px;
        line-height: 30px;
        text-transform: uppercase;
        padding: 0 10px;
        width: 700px; }
    /* line 56, ../../../../scss/especiales/especial-modular-resistencia.scss */
     .cont-especial-modular .mod-nivel-recur-mult {
      margin: 0 auto 100px; }
      /* line 58, ../../../../scss/especiales/especial-modular-resistencia.scss */
       .cont-especial-modular .mod-nivel-recur-mult .nivel-header {
        padding: 0 10px; }
        /* line 60, ../../../../scss/especiales/especial-modular-resistencia.scss */
         .cont-especial-modular .mod-nivel-recur-mult .nivel-header .ttl-1 {
          color: #000;
          margin: 0 0 30px;
          font-size: 32px;
          line-height: 42px;
          text-transform: uppercase;
          width: 600px; }
        /* line 68, ../../../../scss/especiales/especial-modular-resistencia.scss */
         .cont-especial-modular .mod-nivel-recur-mult .nivel-header .lead-1 {
          width: 600px; }
      /* line 72, ../../../../scss/especiales/especial-modular-resistencia.scss */
       .cont-especial-modular .mod-nivel-recur-mult .content {
        padding: 0 10px; }
        /* line 74, ../../../../scss/especiales/especial-modular-resistencia.scss */
         .cont-especial-modular .mod-nivel-recur-mult .content table {
          margin: 30px 0 !important; }
          /* line 76, ../../../../scss/especiales/especial-modular-resistencia.scss */
           .cont-especial-modular .mod-nivel-recur-mult .content table img {
            border-bottom: 5px solid #fffc00; }
          /* line 79, ../../../../scss/especiales/especial-modular-resistencia.scss */
           .cont-especial-modular .mod-nivel-recur-mult .content table .texto_piefoto {
            background: transparent; }
        /* line 83, ../../../../scss/especiales/especial-modular-resistencia.scss */
         .cont-especial-modular .mod-nivel-recur-mult .content .par-art {
          margin: 0 0 20px;
          width: 600px; }
          /* line 86, ../../../../scss/especiales/especial-modular-resistencia.scss */
           .cont-especial-modular .mod-nivel-recur-mult .content .par-art .linkdenota {
            border-bottom: 2px solid #393939;
            font-family: 'cabinbold';
            color: #393939;
            font-size: 14px;
            padding: 8px 10px 7px;
            display: block;
            margin: 0;
            text-transform: uppercase;
            width: 120px;
            text-align: center; }
            /* line 97, ../../../../scss/especiales/especial-modular-resistencia.scss */
             .cont-especial-modular .mod-nivel-recur-mult .content .par-art .linkdenota:hover {
              background: #eee; }
      /* line 103, ../../../../scss/especiales/especial-modular-resistencia.scss */
       .cont-especial-modular .mod-nivel-recur-mult:nth-of-type(2) {
        background: url(media/images/libro-resistencia.jpg) no-repeat center top;
        padding: 45px 0 0; }
        /* line 106, ../../../../scss/especiales/especial-modular-resistencia.scss */
         .cont-especial-modular .mod-nivel-recur-mult:nth-of-type(2) .nivel-header {
          padding: 0 10px 0 350px; }
        /* line 109, ../../../../scss/especiales/especial-modular-resistencia.scss */
         .cont-especial-modular .mod-nivel-recur-mult:nth-of-type(2) .content {
          padding: 0 10px 0 350px; }
      /* line 113, ../../../../scss/especiales/especial-modular-resistencia.scss */
       .cont-especial-modular .mod-nivel-recur-mult:nth-of-type(3) {
        background: url(media/images/mortero-resistencia.jpg) no-repeat center top;
        padding: 130px 0 0; }
        /* line 116, ../../../../scss/especiales/especial-modular-resistencia.scss */
         .cont-especial-modular .mod-nivel-recur-mult:nth-of-type(3) .nivel-header {
          padding: 0 350px 0 10px; }
        /* line 119, ../../../../scss/especiales/especial-modular-resistencia.scss */
         .cont-especial-modular .mod-nivel-recur-mult:nth-of-type(3) .content {
          padding: 0 350px 0 10px; }
      /* line 123, ../../../../scss/especiales/especial-modular-resistencia.scss */
       .cont-especial-modular .mod-nivel-recur-mult:nth-of-type(4) {
        background: url(media/images/camara-resistencia.jpg) no-repeat center top;
        padding: 90px 0 0; }
        /* line 126, ../../../../scss/especiales/especial-modular-resistencia.scss */
         .cont-especial-modular .mod-nivel-recur-mult:nth-of-type(4) .nivel-header {
          padding: 0 10px 0 350px; }
        /* line 129, ../../../../scss/especiales/especial-modular-resistencia.scss */
         .cont-especial-modular .mod-nivel-recur-mult:nth-of-type(4) .content {
          padding: 0 10px 0 350px; }
      /* line 133, ../../../../scss/especiales/especial-modular-resistencia.scss */
       .cont-especial-modular .mod-nivel-recur-mult:nth-of-type(5) {
        background: url(media/images/micro-resistencia.jpg) no-repeat center top;
        padding: 50px 0 0; }
        /* line 136, ../../../../scss/especiales/especial-modular-resistencia.scss */
         .cont-especial-modular .mod-nivel-recur-mult:nth-of-type(5) .nivel-header {
          padding: 0 350px 0 10px; }
        /* line 139, ../../../../scss/especiales/especial-modular-resistencia.scss */
         .cont-especial-modular .mod-nivel-recur-mult:nth-of-type(5) .content {
          padding: 0 350px 0 10px; }
    /* line 151, ../../../../scss/especiales/especial-modular-resistencia.scss */
     .cont-especial-modular .mod-nivel-video-1 section .content-video {
      height: 480px !important;
      width: 960px !important; }
    /* line 159, ../../../../scss/especiales/especial-modular-resistencia.scss */
     .cont-especial-modular .mod-nivel-infografia-1 .nivel-header {
      display: none; }
    /* line 170, ../../../../scss/especiales/especial-modular-resistencia.scss */
     .cont-especial-modular .mod-nivel-multiarticulo .btn-mas-noticias a {
      background: #0e65a5;
      color: #fff;
      width: 162px; }
      /* line 174, ../../../../scss/especiales/especial-modular-resistencia.scss */
       .cont-especial-modular .mod-nivel-multiarticulo .btn-mas-noticias a:hover {
        background: #eaeaea;
        color: #666; }

/*# sourceMappingURL=especial-modular-resistencia.css.map */



.u-overflow-hidden{
  overflow: hidden;
}

.o-viewHelper{
  display: none;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  margin: auto;
  
  justify-content: center;
  align-items: center;
  
  background-color: rgba(0, 0, 0, 0.644);
}

.o-viewHelper.is-active{
  display: flex;
  animation-name: fadeDownContent;
  animation-duration: 150ms;
}

.o-viewHelper--body{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2rem 1fr 2rem;
  background-color: #fff;
  width: 95%;
  height: 95%;
  animation-name: fadeDownContent;
  animation-duration: 350ms;
}

.o-viewHelper--header{
  display: flex;
  justify-content: flex-end;
  align-items: center;    
  font-family: "et_icons", "et_icons-min", Arial;
  box-sizing: border-box;
  padding-right: 1rem;  
  font-weight: bold;
}

.o-viewHelper--section{
  display: flex;
  justify-content: center;
  align-items: center;
}



@keyframes fadeDownContent {
  0%		{ opacity: 0; transform:translate3d(0, -50px, 0); }
  100% 	{ opacity: 1; transform:none; }
}