.PuzzleContent {
	display: block;
	width: 100%;
}

.PuzzleContent__row {
	width: 90%;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	flex-direction: column;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-flex-pack: distribute;
	justify-content: space-around;
}

@media screen and (max-width: 62em) {
	.PuzzleContent__cell:nth-child(1) {
		width: 60%;
	}

	.PuzzleContent__cell:nth-child(2) {
		width: 60%;
	}
}

.tablePuzzle {
	display: block;
	width: 100%;
}

.tablePuzzle__row {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
}

.tablePuzzle__cell {
	display: block;
	position: relative;
	height: 0;
	min-width: 2rem;
	min-height: 2rem;
	box-shadow: 0 0 2px purple;
	background-color: white;
	outline-style: initial;
	outline-width: 1px;
	outline-color: purple;
	border: 0;
	text-transform: uppercase;
	font: 1em sans-serif;
	background-color: #F3E5F5;
	color: #484848;
	cursor: pointer;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

@media screen and (max-width: 62em) {
	.tablePuzzle__cell {
		min-width: 1rem;
		min-height: 1rem;
	}
}

.tablePuzzle__cell span {
	position: absolute;
	font-size: calc(12px + (26 - 22) * ((100vw - 300px) / (1600 - 300)));
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	margin: auto;
	width: 85%;
	height: 85%;
	-webkit-box-align: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-moz-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.wsearchcss {
	padding: 0.5rem;
	margin: 0 auto;
}

@media screen and (max-width: 37.5em) {
	.wsearchcss {
		max-width: 95%;
	}
}

@media screen and (max-width: 30em) {
	.wsearchcss {
		max-width: 95%;
	}
}

.tableAnswers {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-moz-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.tableAnswers .answers,.tableAnswers .correct {
	padding: 10px;
	font-size: calc(12px + (26 - 22) * ((100vw - 300px) / (1600 - 300)));
	background: white;
	box-shadow: 0 0 2px #6ba9c5;
	outline-style: initial;
	outline-width: 1px;
	outline-color: #6ba9c5;
	border: 0;
}

.tableAnswers .answers {
	color: black;
}

.tableAnswers .correct {
	color: white;
}

.highlighted {
	color: #7400FF!important;
	font-weight: 700!important;
	background-color: #FFE940!important;
}

.correct {
	font-weight: 700;
	color: #FFFFFF;
}